 body {
     width: 100%;
     margin: 0;
     Overflow-y: hidden
 }

 #mainContainer {
     width: 100%;
     height: 100%;
 }

 #firstRow {
    height: 23%;
}

 #secondRow {
      height: 30%;
 }

 #thirdRow {
     height: 25%;
}

 #forthRow {
      height: 20%;
 }
#firstRow,#secondRow,#thirdRow,#forthRow{
       width: 100%;
    padding: 5px;
    text-align: justify;
    box-sizing: border-box;
}

 .firstRowColumn {
    width: 48%;
    height: 100%;
    display: inline-block;
    text-align: left;
     background-color: orange;
 }

 .thirdRowColumn {
     width: 32%;
     height: 100%;
     display: inline-block;
     text-align: left;
     background-color: blue;
 }

 .forthRowColumn {
       width: 24%;
    height: 100%;
    display: inline-block;
    text-align: left;
     background-color: grey;
 }

 .secondRowColumn {
     width: 100%;
    height: 100%;
    display: inline-block;
    text-align: left;
     background-color: yellowgreen;
 }
